{# templates/default.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
    {{ Product.name }}
    <form name="form1" method="post" action="">
        {{ form_row(form) }}
        <input type="submit" value="登録">
    </form>
{% endblock %}